In [1]:
from imblearn.over_sampling import SMOTE
import numpy as np
import pandas as pd

In [28]:
X = np.array([[1],[2],[3],[4],[5],[6],[7],[8],[9]])
y = np.array([0,0,0,0,0,0,1,1,1])

In [29]:
df_before = pd.DataFrame(X, columns=["Feature"])
df_before["Class"] = y
df_before

   Feature  Class
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0
5        6      0
6        7      1
7        8      1
8        9      1

In [30]:
smote = SMOTE(k_neighbors=2)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [31]:
df_after = pd.DataFrame(X_resampled, columns=["Feature"])
df_after['Class'] = y_resampled
df_after

    Feature  Class
0         1      0
1         2      0
2         3      0
3         4      0
4         5      0
5         6      0
6         7      1
7         8      1
8         9      1
9         7      1
10        7      1
11        7      1